<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>로그인</title>
</head>
<body>
    <div>
        <form action="/users/login" method="post">
            <label>사용자 이름</label>
            <input type="text" id="username" name="username"/>
            <label>비밀번호</label>
            <input type="password" id="password" name="password"/>
            <button type="submit">로그인</button>
        </form>
    </div>

    <div>
        <a href="/users/signup">회원가입</a>
    </div>
</body>
</html>