<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat-Application</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
</head>
<body>
    <ul id="messages">
        <li th:each="item : ${messages}" >
           <span th:text="${item}"></span>
        </li>
    </ul>
    <input type="text" id="input-msg"/>
    <button id="send">보내기</button>
</body>
<script th:data-th-url="${SOCKET_URL}"></script>
<script src="/js/chat.js" type="application/javascript"></script>
</html>